@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "MaplestoryOTFBold";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_20-04@2.1/MaplestoryOTFBold.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

body,
html {
  max-width: 500px;
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  background-color: #ffff;
}
body {
  width: 100%;
  background-color: #ededed;
  min-height: 100vh;
}
select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  cursor: pointer;
  height: 36px;
  width: 20px;
}
input:focus {
  outline: none;
}
textarea:focus {
  outline: none;
}

/* 공용 스타일 관리 */
@layer components {
  /* 패딩 */
  .padding-container {
    @apply px-4 py-[30px];
  }

  /* 텍스트 */
  .smHeadline {
    @apply mb-3 text-sm font-semibold leading-none;
  }
}

/* 지도 검색 마커 */
.markerbg {
  float: left;
  position: absolute;
  width: 36px;
  height: 37px;
  margin: 10px 0 0 10px;
  background: url(https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/marker_number_blue.png)
    no-repeat;
}
.marker_1 {
  background-position: 0 -10px;
}
.marker_2 {
  background-position: 0 -56px;
}
.marker_3 {
  background-position: 0 -102px;
}
.marker_4 {
  background-position: 0 -148px;
}
.marker_5 {
  background-position: 0 -194px;
}
.marker_6 {
  background-position: 0 -240px;
}
.marker_7 {
  background-position: 0 -286px;
}
.marker_8 {
  background-position: 0 -332px;
}
.marker_9 {
  background-position: 0 -378px;
}
.marker_10 {
  background-position: 0 -423px;
}
.marker_11 {
  background-position: 0 -470px;
}
.marker_12 {
  background-position: 0 -516px;
}
.marker_13 {
  background-position: 0 -562px;
}
.marker_14 {
  background-position: 0 -608px;
}
.marker_15 {
  background-position: 0 -654px;
}
